services:
  localstack:
    container_name: localstack
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,iam,sts,ec2
      - ENFORCE_IAM=1
      - DEBUG=1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
